.tasks__item {
    width: 95%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 5px;
    padding: 9px 10px;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 10px 0;
}